[Desktop Entry]
Type=Application
Icon=battery-profile-powersave
Name=tlp multimode powersave
Name[zh]=tlp multimode powersave
Name[zh_CN]=tlp multimode powersave
Name[zh_CN.UTF-8]=tlp multimode powersave
Comment=tlp multimode switch to powersave profile
Comment[zh]=tlp multimode switch to powersave profile
Comment[zh_CN]=tlp multimode switch to powersave profile
Comment[zh_CN.UTF-8]=tlp multimode switch to powersave profile
Categories=System
Exec=sh -c 'PATH=$PATH:/usr/sbin:/sbin:/usr/local/sbin tlp-multimode-switch power-saver'
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false

